* {
  font-family: "DM Mono", monospace;
}

.paper {
  margin-left: 20px;
}

.points-wrapper {
  display: flex;
  flex-direction: column;
}
.game-over-wrapper {
  display: flex;
  align-items: center;
}

.dead-character {
  width: 450px;
  height: 400px;
}

.game-over {
  font-size: 40px;
}

.points {
  font-size: 30px;
}

.points-img-end {
  width: 80px;
  height: 80px;
}

.total-points {
  display: flex;
  align-items: center;
  justify-content: center;
}

.play-again-container {
  position: fixed;
  background-color: rgb(55, 142, 65);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

.points-img {
  width: 40px;
  height: 40px;
}

.info-box {
  display: block;
  position: fixed;
  z-index: 1;
  background-color: rgb(123, 159, 227);
  box-shadow: 4px 2px 9px -2px rgba(0, 0, 0, 0.75);
  width: 200px;
  height: 100px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.points-box,
.life-box {
  display: flex;
  color: white;
  font-size: 14px;
  justify-content: space-evenly;
}
